<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <style>
        * {
            -ms-user-select: none;
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }

        body {
            padding-top: 4rem;
        }

        div {
            font-size: 13px;
            text-align: center;
        }

        button:nth-child(2) {
            border-bottom: none;
        }

        button:last-child {
            border-top: none;
        }

        button {
            display: block;
            height: 40px;
            width: 100%;
            border: 1px solid #f5f6f7;
            background: #fff;
            padding: 0 0 0 8px;
            font-size: 13px;
        }

        .notice__wrap {
            padding: 2rem 0 0 0;
        }

        a {
            color: #6fcba2;
        }
    </style>
</head>

<body>
    <% if(date!='' ){ %>
        <div>
            <%= name %>님의 면접 시간은 <%= date %>입니다.
        </div>
        <% }else{ %>
            <div>면접 시간을 신청해주세요.</div>
            <% } %>
                <button onclick="location.href='../submit'">면접 시간 신청</button>
                <% if(bul==true){ %>
                    <button>줌 링크 확인</button>
                    <% }else{ %>
                        <button disabled style="color:lightgray;">줌 링크 확인</button>
                        <% } %>
                            <button onclick="location.href='../logout'">로그아웃</button>
                            <div class="notice__wrap">*면접시간 10분전에 줌 링크를 확인하실 수 있습니다.</div>
                            <div class="notice__wrap">*가능한 시간이 없다면 <a href="http://pf.kakao.com/_NwaLK">카카오톡 플러스 친구</a>로
                                문의주세요</div>
</body>

</html>