<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            font-size: 13px;
        }
    </style>
</head>
<body>
    줌 링크를 확인하기 위해 해당 시간에 접속해주세요.
</body>
</html>